/*
created by kasunrachintha on 10/20/22
@author : kasunrachintha
@Date :  10/20/22
@Time: 8:12 am
@Project : Todo-List 
*/

/*create colors using variables*/
:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5CF6;
}

* {
    font-family: 'Fire sans', sans-serif;
}

/*body styles*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: white;
}

header{

}

